# Ignore everything by default
*

# Include specific folders and files
!.gitignore
!Assets/
!Assets/**
!ProjectSettings/
!ProjectSettings/**
!Packages/
!Packages/**
!Final_Project.sln
!README.md
!*.cs
*.json

UserSettings/
**/.DS_Store
